@import '@/assets/styles/_variables.scss';

@keyframes AppearanceAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main {
	cursor: pointer;
	user-select: none;
	position: relative;
	width: 250px;
	min-width: 150px;
	height: 50px;
	box-shadow: 0 0 0 $border_width-medium inset $color-accent;
	border-radius: $border_radius-small;
	transition: box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.error {
	box-shadow: 0 0 0 $border_width-medium inset $color-error !important;
}

.selected {
	pointer-events: none;
	opacity: 0.8;
}

.active {
	border-radius: $border_radius-small $border_radius-small 0 0;

	.arrow {
		> svg {
			transform: rotate(180deg);
		}
	}

	.options {
		display: block;
		animation: AppearanceAnimation 0.2s ease-in-out;
	}
}

.title {
	position: absolute;
	top: $border_width-thick;
	right: $border_width-thick;
	bottom: $border_width-thick;
	left: $border_width-medium;
	padding-left: 15px;
	justify-content: flex-start;
	align-items: center;
}

.arrow {
	position: absolute;
	top: $border_width-thick;
	right: $border_width-thick;
	bottom: $border_width-thick;
	z-index: 1;
	padding-right: 15px;
	padding-left: 5px;
	background-color: white;
	border-radius: $border_radius-small;
	display: flex;
	justify-content: center;
	align-items: center;

	> svg {
		transition: transform 0.2s ease-in-out;

		> path {
			transition: stroke 0.2s ease-in-out;
		}
	}
}

.options {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 2;
	border-radius: 0 0 $border_radius-small $border_radius-small;

	&_scroll {
		right: -$border_width-medium;
		border-radius: 0 0 0 $border_radius-small;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: $border_width-medium;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: $color-accent-dark;
		}

		> div:last-child {
			border-radius: 0 0 0 $border_radius-small !important;
		}
	}

	&_empty {
		cursor: default;

		> div {
			pointer-events: none;
		}
	}

	> div {
		min-height: 45px;
		background-color: white;
		transition: background-color 0.2s ease-in-out;
		padding: 10px 15px;
		border-right: $border_width-medium solid $color-accent;
		border-left: $border_width-medium solid $color-accent;
		border-bottom: $border_width-medium solid $color-accent;

		&:hover {
			background-color: $color-accent;
		}

		&:last-child {
			border-radius: 0 0 $border_radius-small $border_radius-small;
		}
	}
}
