.addToCart {
	width: 85%;
	max-width: 250px;
	padding: 0 10px;
	margin-right: 3.13%;
}

.select {
	width: 100%;
	max-width: 300px;
	margin-right: auto;
}

.favorite {
	margin-left: 3.13%;
}

@media screen and (max-width: 768px) {
	.addToCart {
		width: 100%;
		max-width: 300px;
		margin: 20px 0 0 0;
	}

	.select {
		margin: 20px 0 0 0;
	}

	.favorite {
		height: 35px;
		margin: 20px 0 0 0;
	}
}
