@import '@/assets/styles/_variables.scss';

@keyframes AppearanceAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main {
	width: 100%;
	max-width: 760px;
	padding: 30px 45px;
	border: $border_width-medium solid $color-accent-half-transparent;
	border-radius: $border_radius-medium;
	animation: AppearanceAnimation 0.4s ease-in-out;
	transition: opacity 0.2s ease-in-out;

	&_deleted {
		pointer-events: none;
		opacity: 0.5;
	}

	&:not(:last-child) {
		margin-bottom: 25px;
	}
}

.top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.info {
	margin-left: 20px;
	margin-right: auto;

	> div:first-child {
		margin-bottom: 5px;
	}
}

.rating {
	margin-top: 12px;
	height: 16px;
}

.delete {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	overflow: hidden;
}
