@import '@/assets/styles/_variables.scss';

.main {
	position: relative;

	&_top {
		height: 58vh;
		overflow-y: auto;
		padding-bottom: 150px;
		border-radius: 0 0 $border_radius-medium $border_radius-medium;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&_bottom {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 129px;
		padding: 0 40px 0 52px;
		border: $border_width-medium solid $color-accent-half-transparent;
		border-radius: $border_radius-medium;

		> div {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: auto;
			padding-bottom: 20px;

			> button {
				width: 100%;
				max-width: 370px;
			}
		}

		&_open {
			height: auto !important;
			flex-direction: column;
		}

		&_close {
			cursor: pointer;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 0 35px 0;
		}
	}
}

.form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;

	> div {
		width: 50%;
		max-width: 366px;

		&:first-child {
			margin-right: 22px;
		}
	}
}

.select {
	margin-bottom: 10px;

	> div:last-child {
		margin-top: 10px;
		width: 100%;
		box-shadow: 0 0 0 $border_width-medium inset $color-accent-half-transparent;
		animation: none;

		> div:last-child {
			> div {
				border-color: $color-accent-half-transparent;

				&:hover {
					background-color: white;
				}
			}
		}
	}
}

.field {
	position: relative;

	> div:last-child {
		cursor: default;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		z-index: 1;
		height: 38px;
		min-height: 38px;
		overflow: hidden;
		background: white;

		&:hover {
			height: auto;
		}
	}
}

.discount {
	margin-top: 21px;
	padding: 7px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: $border_width-medium solid $color-accent-half-transparent;
	border-radius: $border_radius-medium;
}

@media screen and (max-width: 1024px) {
	.main {
		&_top {
			padding-bottom: 222px;
		}

		&_bottom {
			height: 201px;

			> div {
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;

				> button {
					margin: 21px auto 0 auto;
				}
			}
		}
	}
}

@media screen and (max-height: 824px),
	screen and (max-width: 1024px) and (max-height: 947px) {
	.main {
		&_bottom {
			&_open {
				top: 0;
				bottom: auto;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.main {
		&_bottom {
			padding: 0 20px 0 26px;

			> div {
				padding-bottom: 30px;
			}
		}
	}

	.form {
		flex-direction: column;

		> div {
			width: 100%;
			max-width: 366px;

			&:first-child {
				margin-right: 0;
			}
		}
	}
}
