@import '@/assets/styles/_variables.scss';

.back {
	margin-right: 25px;

	> button {
		padding: 0;
		width: 50px;
	}
}

.title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 69px 60px 61px 60px;

	> div:last-child {
		max-width: calc(100% - 75px);
	}
}

.main {
	width: 100%;
	min-height: calc(100vh - ($header-height + 191px));
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 0 60px 61px 60px;
}
