@import '@/assets/styles/_variables.scss';

.back {
	margin-right: 25px;

	> button {
		padding: 0;
		width: 50px;
	}
}

.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 69px 58px 61px 58px;

	> div:last-child {
		max-width: calc(100% - 75px);
	}
}

.main {
	width: 100%;
	min-height: calc(100dvh - ($header-height + 191px));
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 0 58px 61px 58px;
}

@media screen and (max-width: 575px) {
	.back {
		margin: 0 auto 50px auto;
	}

	.top {
		align-items: flex-start;
		flex-direction: column;
		padding: 43px 32px;

		&_back {
			.title {
				max-width: 100%;
			}
		}
	}

	.main {
		min-height: calc(100dvh - ($header-height-mobile + 223px));
		padding: 0 32px 43px 32px;
	}
}
