@import '@/assets/styles/_variables.scss';

.main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: $header-height;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 7.292%;
	background-color: $color-accent;
}

.logo {
	cursor: pointer;
	position: relative;
	width: 285px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disabled {
	pointer-events: none;
}

.menu {
	display: none;
}

.nav {
	width: calc(100% - 285px);
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&_item {
		cursor: pointer;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;

		> div:last-child {
			display: none;
		}

		&:first-child {
			cursor: default;
			margin: 0 auto;
		}

		&:not(:first-child, :last-child) {
			margin-right: 30px;
		}

		&_disabled {
			pointer-events: none;
		}
	}
}

@media screen and (max-width: 1111px) {
	.logo {
		margin-right: auto;
	}

	.menu {
		cursor: pointer;
		display: block;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: $header-height;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc(100% - $header-height);
		padding: 30px;
		overflow-y: auto;
		background: white;
		flex-direction: column;
		transition: opacity 0.2s ease-in-out;

		&::-webkit-scrollbar {
			display: none;
		}

		&_item {
			width: 100%;
			max-width: 320px;

			> div:last-child {
				display: block;
				max-width: calc(100% - 52.5px);
				margin: 0 auto;
				padding: 0 15px;
			}

			&:first-child {
				margin: 40px 0;
			}

			&:not(:first-child) {
				margin: 40px 0;

				padding: 4.5px 15px;
				background-color: $color-accent;
				border: $border_width-medium solid $color-accent;
				border-radius: $border_radius-small;

				&.nav_item_disabled {
					background-color: $color-accent-half-transparent;
				}
			}
		}

		&_open {
			opacity: 1;
			pointer-events: all;
		}
	}
}

@media screen and (max-width: 575px) {
	.main {
		height: $header-height-mobile;
	}

	.logo {
		width: 210px;
		height: 38px;
	}

	.nav {
		top: $header-height-mobile;
		height: calc(100% - $header-height-mobile);
	}
}
