@import '@/assets/styles/_variables.scss';

.main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: $header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7.292%;
	background-color: $color-accent;
}

.logo {
	cursor: pointer;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	display: none;
}

.nav {
	width: 285px;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&_item {
		cursor: pointer;
		user-select: none;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		> div:last-child {
			display: none;
		}

		&:first-child {
			display: none;
		}

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 1440px) {
	.logo {
		margin-right: auto;
	}

	.nav {
		width: auto;
		margin-left: 30px;
	}
}

@media screen and (max-width: 991px) {
	.menu {
		cursor: pointer;
		display: block;
		user-select: none;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: $header-height;
		left: 0;
		right: 0;
		bottom: 0;
		height: auto;
		padding: 30px;
		background: white;
		margin-left: 0;
		justify-content: flex-start;
		flex-direction: column;
		transition: opacity 0.2s ease-in-out;

		&_item {
			width: 100%;
			max-width: 320px;
			height: 130px;
			justify-content: flex-start;
			margin-right: 0 !important;

			> div:last-child {
				display: inherit;
				margin-left: 15px;
			}

			&:first-child {
				cursor: default;
				display: inherit;

				> section {
					display: inherit;
					width: 100%;
					border: $border_width-medium solid $color-accent;

					> div {
						> svg {
							> path {
								stroke: currentColor;
							}
						}
					}

					> input {
						color: black;
						padding: 0;

						&::placeholder {
							color: black;
						}
					}
				}
			}
		}

		&_open {
			opacity: 1;
			pointer-events: all;
		}
	}
}
