@import '@/assets/styles/_variables.scss';

.section {
	padding: 59px 90px 59px 60px;
}

.content {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	&_left {
		width: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	&_right {
		width: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;

		> div {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: $border_width-medium solid $color-accent-half-transparent;
			border-radius: $border_radius-medium;

			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}

		> div:first-child {
			padding: 0 7.23% 0 6.1%;
			height: 40px;
		}

		> div:nth-child(2) {
			padding: 0 7.23% 0 6.1%;
			height: 120px;
			justify-content: flex-start;

			> div:first-child {
				padding-right: 4.69%;
			}
		}

		> div:nth-child(3) {
			padding: 40px 7.23% 40px 6.1%;
			height: 300px;
			flex-direction: column;

			> div {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				> div:first-child {
					width: 300px;
				}

				> div:nth-child(2) {
					width: 100px;
					border-top: $border_width-medium solid $color-accent;
				}

				> div:last-child {
					width: 183px;
				}
			}
		}
	}

	&_bottom {
		margin-top: 62px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}

.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 95%;
	height: 40px;

	&_arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 5px;
	}
}

.link {
	cursor: pointer;
}

.rating {
	margin-top: 25px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;

	> div:last-child {
		margin-left: 20px;
		opacity: 0.6;
	}
}

.description {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;

	&_content {
		width: 90%;
		margin-top: 44px;
		overflow: hidden;
	}
}

@media screen and (max-width: 1600px) {
	.content {
		flex-direction: column;

		&_left {
			width: 100%;
			margin-bottom: 50px;
		}

		&_right {
			width: 100%;
		}
	}

	.top {
		max-width: 100%;
	}
}

@media screen and (max-width: 1440px) {
	.content {
		&_bottom {
			flex-direction: column;
		}
	}

	.description {
		width: 100%;

		&_content {
			width: 100%;
		}
	}
}

@media screen and (max-width: 1111px) {
	.section {
		padding: 59px 30px;
	}

	.content {
		&_right {
			> div:first-child {
				padding: 0 30px 0 30px;
			}

			> div:nth-child(2) {
				padding: 0 30px 0 30px;

				> div:first-child {
					padding-right: 4.69%;
				}
			}

			> div:nth-child(3) {
				padding: 40px 30px 40px 30px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.content {
		&_right {
			> div {
				flex-direction: column;
			}

			> div:first-child {
				height: auto;
				padding: 20px 30px;
				text-align: center;

				> div:not(:first-child) {
					margin-top: 10px;
				}
			}

			> div:nth-child(2) {
				height: auto;
				padding: 20px 30px 30px 30px;

				> div:first-child {
					padding-right: 0;
				}
			}

			> div:nth-child(3) {
				padding: 30px 15px;
				height: auto;
				text-align: center;

				> div {
					flex-direction: column;

					&:not(:last-child) {
						margin-bottom: 30px;
					}

					> div:nth-child(2) {
						margin: 20px 0;
					}

					> div:last-child {
						width: auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.top {
		height: 29px;

		&_arrow {
			> svg {
				width: 22px;
				height: 22px;
			}
		}
	}

	.link {
		width: 100%;
	}

	.rating {
		height: auto;
		align-items: flex-start;
		flex-direction: column;

		> span:first-child {
			margin: 0 auto;
		}

		div:last-child {
			margin: 10px auto 0 auto;
		}
	}
}
