@import '@/assets/styles/_variables.scss';

@keyframes AppearanceAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.aside {
	padding-top: 43px;
	width: 332px;
	height: calc(100dvh - ($header-height + 20px));
	border-right: $border_width-thin solid $color-accent;
	border-bottom: $border_width-thin solid $color-accent;
	background-color: white;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	&_pin {
		position: fixed;
		top: $header-height;
		left: 0;
		z-index: 2;
	}
}

.title {
	display: flex;
	padding-left: 58px;
	padding-bottom: 22px;
	border-bottom: $border_width-thin solid $color-accent;
}

.social {
	padding: 20px 0 7.5px 23px;
	border-top: $border_width-thin solid $color-accent;
	border-bottom: $border_width-thin solid $color-accent;

	> div:first-child {
		opacity: 0.8;
		margin-bottom: 14px;
	}

	> div:last-child {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;

			&:not(:last-child) {
				margin-right: 7.5px;
			}
		}
	}
}

.info {
	padding: 28px 0 13px 23px;
	border-bottom: $border_width-thin solid $color-accent;

	> div:first-child {
		opacity: 0.8;
		margin-bottom: 20px;
	}

	> div:last-child {
		padding-left: 35px;

		> div:first-child {
			margin-bottom: 10px;
		}

		.link {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 90px;
			height: 60px;
		}
	}
}

.working {
	padding: 28px 0 27px 23px;
	border-bottom: $border_width-thin solid $color-accent;

	> div:first-child {
		opacity: 0.8;
		margin-bottom: 20px;
	}

	> div:last-child {
		padding-left: 35px;

		> div:first-child {
			margin-bottom: 15px;
		}
	}
}

.copyright {
	opacity: 0.8;
	padding: 20px 0 22px 23px;
	padding-left: 23px;

	> div:first-child {
		margin-bottom: 13px;
	}
}

.admin {
	display: block;
	padding: 22px 0 22px 58px;
	border-top: $border_width-thin solid $color-accent;
}

@media screen and (max-width: 796px) {
	.aside {
		display: none;

		&_section {
			position: fixed;
			top: $header-height;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.2);
			animation: AppearanceAnimation 0.2s ease-in-out;
		}

		&_pin {
			display: block;
			animation: AppearanceAnimation 0.2s ease-in-out;
		}
	}
}

@media screen and (max-width: 575px) {
	.aside {
		height: calc(100dvh - ($header-height-mobile + 20px));

		&_section {
			top: $header-height-mobile;
		}

		&_pin {
			top: $header-height-mobile;
		}
	}
}
