@import '@/assets/styles/_variables.scss';

@keyframes AppearanceAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.section {
	width: 100%;
	min-height: calc(100dvh - $header-height);
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: AppearanceAnimation 0.4s ease-in-out;
}

.text {
	text-align: center;
}

.form {
	width: 100%;
	max-width: 360px;
}

.field {
	margin-top: 10px;

	&:first-child {
		margin-top: 29px;
	}
}

.button {
	width: 100%;
	margin-top: 17px;

	&:first-child {
		margin-top: 19px;
	}
}

@media screen and (max-width: 575px) {
	.section {
		min-height: calc(100dvh - $header-height-mobile);
	}
}
