@import '@/assets/styles/_variables.scss';

.image {
	width: 52.5px;
	height: 52.5px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	background-color: $color-accent-dark;
}

@media screen and (max-width: 1111px) {
	.image {
		width: 35px;
		height: 35px;
	}
}
