@import '@/assets/styles/_variables.scss';

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 69px 90px 61px 58px;
}

.open {
	display: none;
}

.select {
	width: 300px;
}

.section {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.observe {
	position: absolute;
	top: calc(100vh - $header-height);
	left: 0;
	z-index: -1;
	width: 100%;
	height: calc(100% - (100vh - $header-height));
}

.content {
	width: calc(100% - 332px);
	min-height: calc(100vh - $header-height);
	padding: 0 90px 20px 93px;

	&_pin {
		margin-left: 332px;
	}
}

.products {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.buttons {
	margin: 50px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	> button {
		width: 50px;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}

.message {
	margin-bottom: 61px;
}

@media screen and (max-width: 796px) {
	.top {
		align-items: flex-start;
		flex-direction: column;
		padding: 69px 58px 61px 58px;
	}

	.actions {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.open {
		cursor: pointer;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 15px;
		width: 49%;
		height: 50px;
		background-color: $color-accent;
		border-radius: $border_radius-small;
	}

	.select {
		width: 49%;
	}

	.section {
		justify-content: center;
	}

	.content {
		width: 100%;
		padding: 0 58px 20px 58px;

		&_pin {
			margin-left: 0;
		}
	}

	.products {
		justify-content: center;
	}
}

@media screen and (max-width: 575px) {
	.top {
		padding: 43px 32px;
	}

	.select {
		min-width: 100px;
	}

	.observe {
		top: calc(100vh - $header-height-mobile);
		height: calc(100% - (100vh - $header-height-mobile));
	}

	.content {
		min-height: calc(100vh - $header-height-mobile);
		padding: 0 32px 20px 32px;
	}
}
