$color-accent: #cdb781;
$color-accent-half-transparent: rgba(205, 183, 129, 0.5);
$color-accent-dark: #77663a;
$color-error: rgb(200, 0, 0);
$color-rating: rgb(255, 188, 11);

$border_width-thin: 1px;
$border_width-medium: 3px;
$border_width-thick: 5px;

$border_radius-small: 5px;
$border_radius-medium: 10px;
$border_radius-large: 15px;

$font_size-heading: 50px;
$font_size-heading-mobile: 30px;
$font_size-subheading-large: 35px;
$font_size-subheading-medium: 32px;
$font_size-subheading-medium-mobile: 20px;
$font_size-subheading: 30px;
$font_size-subheading-mobile: 20px;
$font_size-body-large: 28px;
$font_size-body-medium: 25px;
$font_size-body-small: 20px;
$font_size-body: 18px;
$font_size-body-mobile: 12px;
$font_size-caption-large: 15px;
$font_size-caption-medium: 14px;
$font_size-caption: 12px;
$font_size-caption-mobile: 7px;

$header-height: 80px;
$header-height-mobile: 70px;
