@import '@/assets/styles/_variables.scss';

.section {
	width: 100%;
	min-height: calc(100vh - $header-height);
	padding: 60px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 100%;
	max-width: 850px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.text {
	margin: 20px 0 30px 0;
}

.button {
	margin: 0 auto;
}

@media screen and (max-width: 575px) {
	.section {
		min-height: calc(100vh - $header-height-mobile);
	}
}
