@import '@/assets/styles/_variables.scss';

@keyframes AppearanceAnimation {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.back {
	margin-right: 25px;

	> button {
		padding: 0;
		width: 50px;
	}
}

.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 69px 58px 61px 58px;

	> div:last-child {
		max-width: calc(100% - 75px);
	}
}

.main {
	width: 100%;
	min-height: calc(100vh - ($header-height + 191px));
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 0 58px 61px 58px;
}

.item {
	width: 100%;
	max-width: 383px;
	padding: 30px 0;
	animation: AppearanceAnimation 1s ease-in-out;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.line {
	width: 100%;
	max-width: 383px;
	border-top: $border_width-thin solid $color-accent;
	animation: AppearanceAnimation 1s ease-in-out;
}

.value {
	margin-top: 10px;
}

@media screen and (max-width: 575px) {
	.back {
		margin: 0 auto 50px auto;
	}

	.top {
		align-items: flex-start;
		flex-direction: column;
		padding: 43px 32px;

		&_back {
			.title {
				max-width: 100%;
			}
		}
	}

	.main {
		min-height: calc(100vh - ($header-height-mobile + 223px));
		padding: 0 32px 43px 32px;
	}
}
