@import '@/assets/styles/_variables.scss';

.section {
	width: 100%;
	min-height: calc(100vh - $header-height);
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 540px;
}

.back {
	margin-bottom: 25px;

	> button {
		padding: 0;
		width: 50px;
	}
}

.form {
	width: 100%;
	max-width: 360px;
}

.field {
	margin-top: 10px;

	&:first-child {
		margin-top: 29px;
	}
}

.button {
	width: 100%;
	margin-top: 19px;
}
