@import '@/assets/styles/_variables.scss';

.back {
	margin-right: 25px;

	> button {
		padding: 0;
		width: 50px;
	}
}

.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 69px 58px 61px 58px;

	&_back {
		.title {
			max-width: calc(100% - 75px);
		}
	}

	&_additionalTitle {
		.title {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&_arrow {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 10px;
			}
		}
	}

	&_sidebar {
		padding: 69px 90px 61px 58px;
	}
}

.open {
	display: none;
}

.section {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.observe {
	position: absolute;
	top: calc(100dvh - $header-height);
	left: 0;
	z-index: -1;
	width: 100%;
	height: calc(100% - (100dvh - $header-height));
}

.content {
	width: 100%;
	padding: 0 58px 20px 58px;

	&_sidebar {
		width: calc(100% - 332px);
		min-height: calc(100dvh - $header-height);
		padding: 0 90px 20px 93px;
	}

	&_pin {
		margin-left: 332px;
	}
}

.products {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.message {
	margin-bottom: 61px;
}

@media screen and (max-width: 796px) {
	.back {
		margin: 0 auto 50px auto;
	}

	.top {
		align-items: flex-start;
		flex-direction: column;
		padding: 69px 58px 61px 58px;

		&_back {
			.title {
				max-width: 100%;
			}
		}
	}

	.actions {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.open {
		cursor: pointer;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		max-width: 370px;
		height: 50px;
		background-color: $color-accent;
		border-radius: $border_radius-small;
	}

	.section {
		justify-content: center;
	}

	.content {
		width: 100%;
		padding: 0 58px 20px 58px;

		&_pin {
			margin-left: 0;
		}
	}

	.products {
		justify-content: center;
	}
}

@media screen and (max-width: 575px) {
	.top {
		padding: 43px 32px;

		&_additionalTitle {
			.title {
				align-items: flex-start;
				flex-direction: column;

				&_arrow {
					transform: rotate(90deg);
					padding: 10px 0;

					> svg {
						width: 31px;
						height: 31px;
					}
				}
			}
		}
	}

	.observe {
		top: calc(100dvh - $header-height-mobile);
		height: calc(100% - (100dvh - $header-height-mobile));
	}

	.content {
		padding: 0 32px 20px 32px;

		&_sidebar {
			min-height: calc(100dvh - $header-height-mobile);
		}
	}
}
