@import '@/assets/styles/_variables.scss';

.back {
	margin-right: 25px;

	> button {
		padding: 0;
		width: 50px;
	}
}

.title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 69px 58px 61px 58px;

	&_back {
		> div:nth-child(2) {
			max-width: calc(100% - 75px);
		}
	}

	&_sidebar {
		padding: 69px 90px 61px 58px;
	}

	&_additionalTitle {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&_arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
		}
	}
}

.open {
	display: none;
}

.section {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.observe {
	position: absolute;
	top: calc(100vh - $header-height);
	left: 0;
	z-index: -1;
	width: 100%;
	height: calc(100% - (100vh - $header-height));
}

.content {
	width: 100%;
	padding: 0 58px 20px 58px;

	&_sidebar {
		width: calc(100% - 332px);
		min-height: calc(100vh - $header-height);
		padding: 0 90px 20px 93px;
	}

	&_pin {
		margin-left: 332px;
	}
}

.products {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.message {
	margin-bottom: 61px;
}

@media screen and (max-width: 796px) {
	.back {
		margin-right: 0;
		margin-bottom: 25px;
	}

	.title {
		align-items: flex-start;
		flex-direction: column;
		padding: 69px 58px 61px 58px;

		&_back {
			> div:nth-child(2) {
				max-width: 100%;
			}
		}

		> div:nth-child(3) {
			width: 100%;
			margin-top: 14px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.open {
		cursor: pointer;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		max-width: 370px;
		height: 50px;
		font-weight: 700;
		color: $color-accent-dark;
		background-color: $color-accent;
		transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		border: $border_width-medium solid $color-accent;
		border-radius: $border_radius-small;

		> svg {
			width: 48px;
			height: 36px;
		}

		> div:last-child {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80%;
		}
	}

	.section {
		justify-content: center;
	}

	.content {
		width: 100%;
		padding: 0 58px 20px 58px;
	}

	.products {
		justify-content: center;
	}
}

@media screen and (max-width: 575px) {
	.back {
		margin-bottom: 14px;

		> button {
			width: 40px;
		}
	}

	.title {
		padding: 43px 32px 21px 32px;

		> div:last-child {
			margin-top: 7px;
		}
	}

	.observe {
		top: calc(100vh - $header-height-mobile);
		height: calc(100% - (100vh - $header-height-mobile));
	}

	.content {
		&_sidebar {
			min-height: calc(100vh - $header-height-mobile);
			padding: 0 32px 20px 32px;
		}
	}
}
